@import '../variables';

.round-browser-list-cont {
    @include card-cont;
}

.round-list-item-cont {
    border-top: 1px solid var(--bg-color-tone-1);
    padding: 8px;
    display: flex;

    .thumbnail-cont {
        display: block;
        border-radius: 2px;
        border: 1px solid var(--fg-color);
        align-self: flex-start;

        img {
            display: block;
            object-fit: cover;
        }
    }

    .round-info-cont {
        flex: 1 0 0;

        padding-left: 20px;

        header {
            font-size: 16px;
            margin-bottom: 4px;
        }

        .round-info-row {
            margin: 4px 0;

            & > * {
                display: inline-block;

                &:not(:last-child)::after {
                    padding: 0 8px;
                    content: '•';
                }
            }
        }
    }
}

@media screen and (min-width: 600px) {
    .thumbnail-cont {
        flex: 0 0 100px;

        img {
            height: 70px;
            width: 100px;
        }
    }
}

@media screen and (max-width: 599px) {
    .thumbnail-cont {
        flex: 0 0 80px;

        img {
            height: 60px;
            width: 80px;
        }
    }
}
