.sort-selector-cont {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 4px;

    label {
        font-weight: bold;
        margin-right: 8px;
    }
}

.rounds-page-filter {
    margin-bottom: 16px;
}
