@import '../variables';

.compare-charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .chart-card {
        flex: 1 0 0;
        min-width: 360px;
        height: 400px;

        margin: 8px;
    }
}

.compare-overview-table {
    margin: 0 8px;
    @include card-cont;

    tr {
        height: 60px;
    }

    .data-cont {
        position: relative;
    }

    .data-viewport {
        overflow-y: hidden;

        .react-autosuggest__container {
            position: absolute;
        }
    }

    .compare-username-cell {
        display: flex;
        align-items: center;

        .username-text {
            margin-left: 8px;
            flex: 1 0 0;
        }

        .remove-user-button {
            cursor: pointer;
        }
    }

    .add-player-row {
        padding: 0 8px;
    }
}
