@import '../variables';

$popup-margin: 8px;

.popups-container {
    position: absolute;
    bottom: 0;
    padding: $popup-margin;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.popup-message {
    &.popup-info {
        border-left: 4px solid $highlight-info;
    }

    &.popup-warn {
        border-left: 4px solid $highlight-warn;
    }

    &.popup-error {
        border-left: 4px solid $highlight-error;
    }

    background: var(--bg-color);
    box-shadow: 1px 1px 5px 0px var(--shadow-color);
    padding: 8px;
    width: 400px;
    max-width: 100%;
    box-sizing: border-box;
    border-radius: 3px;

    display: flex;
    align-items: center;

    .popup-message-contents {
        flex: 1 0 0;
        padding: 8px;
        font-weight: bold;
    }

    &:not(:last-child) {
        margin-bottom: $popup-margin;
    }

    i.fas {
        cursor: pointer;
        padding: 8px;
    }
}
