@import '../variables';
@import '../base/base';

.filter-text-input {
    display: flex;
    margin-bottom: 8px;
    align-items: center;

    input {
        flex: 1 0 0;
        margin-right: 4px;
    }

    .button {
        margin: 0 4px;
    }

    a {
        margin: 0 4px;
    }
}

.filter-chips-cont {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 8px;

    .button {
        font-size: 13px;

        white-space: nowrap;
    }

    .add-filter-button {

        i {
            margin-left: 8px;
        }
    }

    .advanced-filter-toggle {
        flex: 1 0 0;
        display: flex;
        justify-content: flex-end;
    }

    .icon {
        margin: 0 8px;
    }
}

.filter-chip {
    @include chip;

    .filter-chip-text {
        flex: 1 1 0;

        & > *:not(:last-child) {
            margin-right: 4px;
        }

        & > *:not(:first-child) {
            margin-left: 4px;
        }
    }


    .field-name, .value {
        font-weight: bold;
    }

    .delete-button {
        cursor: pointer;
        margin-left: 8px;

        &:hover {
            text-shadow: 0px 0px 5px var(--shadow-color);
        }
    }
}

.filter-editor-cont {
    border-top: 2px solid $highlight-info;
    background-color: var(--bg-color-tone-0);
    margin-top: 4px;
    display: inline-block;
    padding: 8px;

    max-width: 640px;

    h3 {
        margin-top: 4px;
    }

    .react-autosuggest__container {
        display: inline-flex;
    }

    .filter-editor-body {
        display: flex;
        flex-flow: row wrap;

        & > * {
            flex: 1 0 0;
            margin: 4px;
        }

        .filter-selector {
            flex: 1 0 0;
            min-width: 200px;
        }
    }

    .array-picker-cont {
        .player-search-container {
            margin: 0;
        }

        .react-autosuggest__container {
            width: 100%;
        }
    }

    .filter-buttons-row {
        display: flex;
        justify-content: flex-end;
        margin-top: 8px;
    }
}
