@import '../variables';

input[type=text], input[type=datetime-local], input[type=number], input[type=time], input[type=date] {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 8px;
    height: $form-element-row-height;

    background: #00000000;
    color: var(--fg-color);

    outline: 0;
    border-width: 0 0 2px;
    border-color: var(--border-color);

    &:focus {
        border-color: $highlight-info;
    }

    &.invalid {
        border-color: $highlight-error;
    }
}

.input-label {
    font-size: 12px;
    padding-right: 8px;
}

.row-content {
    display: flex;
    align-items: center;
    margin: 4px 0;
}

table {
    .col-numeric {
        text-align: right;
    }
}
