@import '../variables';

.array-picker-cont {
    box-sizing: border-box;

    .array-picker-input {
        width: 100%;

        input, .dropdown-cont {
            width: 100%;
        }
    }

    .array-picker-chips {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }

    .array-picker-chip {
        border-radius: 4px;
        background-color: var(--highlight-color-1);
        color: var(--fg-color-inverse);
        padding: 4px;
        margin: 2px;

        .delete-button {
            padding: 0 4px;
            cursor: pointer;
        }
    }
}
