.colour-picker-cont {
    display: flex;
    align-items: center;

    .colour-picker-label {
        font-weight: bold;
    }

    .colour-swatch {
        height: 24px;
        width: 24px;
        border-radius: 6px;
        margin: 0 8px;
        cursor: pointer;
        position: relative;

        .fas {
            position: absolute;
            bottom: 2px;
            right: 2px;
        }
    }
}
