@import '../variables';

.data-cont {
    table {
        width: 100%;
        border-collapse: collapse;
    }

    tr {
        display: grid;
        align-items: center;
    }

    thead {
        background: var(--header-bg-color);
        color: var(--header-fg-color);

        tr {
            height: 40px;
        }

        th {
            padding: 0 $grid-cell-padding;
            text-align: center;
        }
    }

    tbody {
        tr {
            &:hover {
                background-color: var(--bg-color-tone-1);
            }

            &:not(:last-child) {
                border-bottom: 1px solid var(--bg-color-tone-1);
            }
        }

        td {
            padding: $grid-cell-padding;
        }
    }
}

.loading-cell {
    display: block;
    height: 8px;
    width: calc(100% - 16px);
    margin: 0 8px;
    background-color: var(--grid-loading-color);

    border-radius: 2px;

    animation: flicker 1s ease alternate infinite;
}

@keyframes flicker {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 0.3;
    }
}
