@import '../variables';
@import './base';

.react-autosuggest__container {
    position: relative;
    display: inline-block;
}

.dropdown-cont {
    position: relative;
    display: flex;

    i {
        position: absolute;
        right: 4px;
        top: 10px;
        pointer-events: none;
    }
}

.react-autosuggest__suggestions-container {
    position: absolute;
    top: $form-element-row-height + 4px;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;

    &.react-autosuggest__suggestions-container--open {
        background: var(--bg-color-tone-0);
        color: var(--fg-color);
        box-shadow: 1px 1px 5px 0px var(--shadow-color);
    }

    ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }

    li {
        cursor: pointer;

        padding: 8px;
        min-width: 200px;

        &.react-autosuggest__suggestion--highlighted {
            background: var(--bg-color-tone-2);
        }

        strong {
            font-weight: bold;
            text-decoration: underline;
        }
    }
}
