.radio-button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;

    padding: 8px;

    .radio-button-option {
        display: flex;
        align-items: center;
        gap: 8px;

        cursor: pointer;
    }

    .radio-buttons-label {
        font-weight: bold;
    }
}
