$form-element-row-height: 32px;

$grid-cell-padding: 8px;

$highlight-info: #1c92f1;
$highlight-caution: #dac826;
$highlight-warn: #ff9100;
$highlight-error: #eb1919;

$toolbar-height: 32px;
$toolbar-padding: 4px 8px;

@mixin no-select {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

@mixin card-cont {
    border-top: 2px solid var(--highlight-color-1);
    background: var(--bg-color-tone-0);
    border-radius: 2px;

    > header {
        text-align: center;
        margin: 8px 0;
        font-size: 16px;
    }
}

@mixin toolbar-main {
    background-color: var(--header-bg-color);
    color: var(--header-fg-color);
    border-bottom: 1px solid var(--header-border-color);
}

@mixin chip {
    padding: 8px 12px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    box-shadow: 1px 1px 5px 0px var(--shadow-color);
    background-color: var(--bg-color-tone-0);
    cursor: pointer;

    display: flex;
    align-items: center;

    @include no-select;

    &.active {
        border-color: $highlight-info;
    }
}

@mixin option-buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}

@mixin option-button {
    background-color: var(--bg-color-tone-2);
    font-weight: bold;

    padding: 8px;
    border-radius: 4px;

    cursor: pointer;

    &.active {
        background-color: var(--highlight-color-1);
        color: var(--fg-color-inverse);
    }

    &.invalid {
        cursor: default;

        opacity: 30%;
    }
}

.highlight-error {
    color: lighten($highlight-error, 16);
}

.highlight-warning {
    color: lighten($highlight-warn, 12);
}
