@import 'variables';

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    height: 100vh;
    margin: 0;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: auto;

    box-sizing: border-box;
}

#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    color: var(--fg-color);
    background: var(--bg-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
    outline: none;
    cursor: pointer;

    &.disabled {
        color: var(--link-color-disabled);
        pointer-events: none;
    }
}

.app-body-main {
    flex: 1 0 0;
}

.page-viewport {
    display: flex;
    justify-content: center;
    height: 100%;
}

.page-body {
    flex: 0 1 1600px;
    overflow-x: hidden;

    padding: 16px 8px;
}

.user-error-state {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.loader {
    display: inline-block;
    border: 8px solid var(--highlight-color-1);
    border-top: 8px solid #00000000;
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% {transform: rotate(360deg); }
}

.loading-state {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    .loader {
        height: 80px;
        width: 80px;
    }
}

.empty-state {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .icon {
        display: block;
        font-size: 48px;
        margin: 16px;
    }

    .loader {
        height: 60px;
        width: 60px;
    }

    .empty-state-message {
        font-size: 14px;
    }
}

.theme-light {
    --highlight-color-1: #169ae4;
    --highlight-color-2: #fffbd3;
    --highlight-color-3: #22af46;

    --bg-color: #ffffff;
    --bg-color-tone-0: #f5f5f5;
    --bg-color-tone-1: #eaeaea;
    --bg-color-tone-2: #dfdfdf;

    --fg-color: #000000;
    --fg-color-inverse: #ffffff;

    --header-bg-color: var(--highlight-color-1);
    --header-fg-color: var(--fg-color-inverse);
    --header-border-color: var(--highlight-color-1);

    --loading-bg-color: #ffffffb0;
    --grid-loading-color: #ababab;

    --border-color: #000000;
    --shadow-color: #333333;

    --link-color: var(--highlight-color-1);
    --link-color-disabled: #cecece;
}

.theme-dark {
    --highlight-color-1: #169ae4;
    --highlight-color-2: #fffbd3;
    --highlight-color-3: #22af46;

    --bg-color: #0c0e14;
    --bg-color-tone-0: #11131d;
    --bg-color-tone-1: #161925;
    --bg-color-tone-2: #181b28;

    --fg-color: #c5c8c6;
    --fg-color-inverse: #ffffff;

    --header-bg-color: #153a55;
    --header-fg-color: var(--fg-color);
    --header-border-color: var(--highlight-color-1);

    --loading-bg-color: #181b28b0;
    --grid-loading-color: #454545;

    --border-color: #000000;
    --shadow-color: #000000;

    --link-color: var(--highlight-color-1);
    --link-color-disabled: #cecece;
}
