@import '../variables';

.sidebar-cont {
    background: var(--bg-color-tone-2);
    width: 320px;
    max-width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;

    z-index: 1;

    display: flex;
    flex-direction: column;

    &.sidebar-open {
        left: 0;
        box-shadow: 1px 1px 5px 0px var(--shadow-color);
        transition: left 500ms ease-out;
    }

    &:not(.sidebar-open) {
        left: -100%;
        transition: left 500ms ease-in;
    }

    header {
        display: flex;
        align-items: center;

        height: $toolbar-height;
        padding: $toolbar-padding;

        img {
            max-height: 32px;
            width: auto;
            height: auto;
        }

        .subreddit-name {
            font-size: 16px;
            margin-left: 16px;
        }
    }

    .sidebar-body {
        padding: 16px;
        font-size: 14px;
        line-height: 20px;

        flex: 1 1 0px;
        overflow-y: auto;
    }

    .sidebar-option {
        margin: 4px 0 8px 24px;
        cursor: pointer;

        &.selected {
            font-weight: bold;
            cursor: default;
        }
    }

    .sidebar-filter-options {
        max-height: 300px;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .sidebar-theme-options {
        max-height: 36px;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .sidebar-filters-group {
        margin: 8px 0;

        h4 {
            margin: 8px 0;
        }
    }

    .sidebar-toggle-row {
        display: flex;
        align-items: center;

        max-width: 160px;

        .sidebar-toggle-name {
            flex: 1 0 0;
        }
    }

    .sidebar-section {
        border-bottom: 1px solid var(--fg-color);
        padding-bottom: 8px;
    }

    .sidebar-nav-link {
        &.active {
            background-color: var(--bg-color-tone-3);
        }
    }
}
