@import '../variables';

.dashboard-charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .chart-card {
        flex: 1 0 0;
        min-width: 360px;
        height: 400px;

        margin: 8px;
    }
}

.user-round-list-container {
    margin: 0 8px;
    @include card-cont;

    tr {
        height: 60px;
    }
    .round-title-ellipsize {
        max-height: 60px - ($grid-cell-padding * 2);
    }
}

.player-overview-cont {
    @include card-cont;
    margin: 0 8px;
    padding: 16px;

    .base-overview-row {
        display: flex;
        justify-content: space-evenly;
        flex-flow: row wrap;

        font-size: 16px;
        padding-bottom: 16px;

        .overview-item {
            margin: 0 8px;
        }
    }

    .detail-view {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        .detail-col {
            display: inline-block;
        }

        .overview-item {
            width: 240px;
            .key {
                flex: 0 0 160px;
            }
        }
    }

    .overview-item {
        display: flex;

        .key {
            font-weight: bold;
            margin-right: 16px;
            text-align: right;

            &::after {
                content: ":";
            }
        }

        .info-hover-icon {
            cursor: default;
            margin-left: 6px;
        }
    }

    .view-rounds-link {
        margin-top: 16px;
        text-align: center;
    }
}
